body{
  background-color:#F9F3DF;
  font-family: "Sofia", sans-serif;
  font-size: 30px;
  text-shadow: 3px 3px 3px #ababab;
 margin: 0;
 text-align: center;

}
h1{
  font-size: 90px;
  color: #66BFBF;
}
  h2{
    font-size: 2.5rem;
    color: #66BFBF;

  }
  h3{
    color: #11999E;
  }
  a{
      color: #11999E;
  }
  p{
    line-height: 1;
  }
.bottom-cloud{
  position: absolute;
}
.top{
  padding-top: 30px;
  background-color: #11999E;

}
.top-cloud{
  margin-left: 500px;
}
.self{
  border-radius: 50%;
}
.middle{
  padding-bottom: 100px;

}
.bottom{

}
.skill-row{

margin: 100px 100px 100px auto;
text-indent: 100px;




}
.web{
  border-radius:50%;
  width: 25%;
  float: left;
}
.ml{
  border-radius:50%;
  width: 25%;
  float: right;
  }


.selDescription{
  color: #4051E;
  width:30%;
  margin:auto;
}
hr{
  border:dotted;
  border-radius:5px;
  border-color: blue;
  width: 100px;
}
.bottom-container{
  background-color: #11999E;
  height: 100px;
}
.BUTTON_AVH {
   background: #3D94F6;
   background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Brush Script MT;
   font-size: 20px;
   font-weight: 100;
   padding: 40px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_AVH:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
 }
 a{
   color: #11999E;
   margin:10px 20px;
 }
 a:hover{
   color: #EAF6F6;
 }
